.active-nav-item {
    background-color: #292930;
}

.active-nav-item a {
    color: #fff !important;
}

.nav-item:hover {
    background-color: #292930;
}

.nav-item:hover a {
    color: #fff !important;
}

.k-window-actions {
    margin: 0
}