#root {
  overflow-x: hidden !important;
}

body {
  margin: 0;
  font-family: -apple-system, "Nunito", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1025px) {
  .container {
    max-width: 1025px;
  }
}
@media only screen and (min-width: 770px) {
  .container {
    max-width: 840px;
  }
}
/* @media only screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
} */
